# Ignorar arquivos de JavaScript na contagem
wwwroot/js/* linguist-vendored
Scripts/* linguist-vendored
node_modules/* linguist-vendored

# Se usar Bootstrap ou jQuery via pacote
wwwroot/lib/* linguist-vendored

# Forçar o projeto como C#
*.cs linguist-language=C#
*.cshtml linguist-language=HTML
